.best-deal {
    background-color: #fafafa;
    padding: 100px 0px;
}
.section-heading {
    margin-bottom: 70px;
}
.section-heading h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-heading h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}
.best-deal .tabs-content {
    padding: 0px;
    background-color: transparent;
}
.best-deal .tabs-content .nav-wrapper .myli {
    border-bottom: none !important;
    margin-bottom: 80px;
    align-items: end;
    justify-content: end;
    margin-top: -130px;
}

.best-deal .tabs-content ul.nav-tabs .custom-a {
    padding-right: 0px;
    border-right: none;
    margin-left: 20px;
}
.best-deal .tabs-content .nav-tabs .nav-link.active {
    background-color: #f35525 !important;
    color: #fff;
}
.best-deal .tabs-content .nav-link {
    font-size: 16px;
    font-weight: 500;
    background-color: #1e1e1e !important;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0px 25px;
    color: #fff;
}
.tab-content .active {
    display: block;
}
.best-deal .tabs-content .info-table {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
}
.best-deal .info-table ul li {
    display: block;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
}
.best-deal .info-table ul li span {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 700;
    /* float: right; */
    display: inline-block;
}
.best-deal .tab-content img {
    padding: 0px 45px;
}
.best-deal .tabs-content h4 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
}
p {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.best-deal .icon-button {
    margin-top: 30px;
}
.icon-button a {
    display: inline-block;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px 0px 0px;
    border-radius: 25px;
    transition: all .3s;
}
.icon-button a .calendar {
    background-color: #f35525;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    display: inline-block;
    
    margin: 2px;
    color: white;
    font-size: 20px;

    margin-right: 8px;
  
}
.best-deal .tab-pane .icon-button {
    margin-top: 30px;
}

p {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.best-deal .tab-content img {
    padding: 0px 45px;
}

