.contact-content {
    margin-top: -240px;
    position: relative;
    z-index: 1;
}
.contact-content #map {
    border-radius: 10px;
    margin-bottom: 60px;
}
.contact-content .phone {
    margin-right: 15px;
}
.contact-content .item {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
}
.contact-content .item img {
    float: left;
    margin-right: 25px;
    vertical-align: middle;
}
.contact-content .item h6 {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
}
.contact-content .item h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}
.contact-content .email {
    margin-left: 15px;
}
.contact-content .item {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
}
.contact-content #contact-form {
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
}