.fun-facts {
    text-align: center;
    margin-top: 125px;
}

.fun-facts .counter h2 {
    margin-right: 25px;
    font-size: 40px;
    color: #f35525;
}
.fun-facts .counter h2, .fun-facts .customize .counter p {
    display: inline-flex;
    vertical-align: middle;
    
}

.fun-facts .customize .counter p:after {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #f35525;
    border-radius: 50%;
    content: '';
    right: -25px;
    top: -25px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* .customize{
    background-color: #e48d72;
} */

.fun-facts .counter h2, .fun-facts .counter p {
    display: inline-flex;
    vertical-align: middle;
    
}
.fun-facts .counter {
    background-color: #ffeee9;
    position: relative;
    border-radius: 10px;
    width: 270px;
    padding: 20px 0px;
    display: inline-block;
}
.fun-facts .customize .counter p:after {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #f35525;
    border-radius: 50%;
    content: '';
    right: -25px;
    top: -25px;
}
.fun-facts .counter p {
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 600;
    line-height: 28px;
}