
.page-heading {
    background-image: url( "https://www.shutterstock.com/image-photo/resort-blurred-background-600nw-285558611.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    height: 300px;
    position: relative;

}
.page-heading span {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-bottom: 30px;
}
.section-heading {
    margin-bottom: 70px;
}
.text-center {
    text-align: center !important;
}
.section-heading h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.page-heading span a {
    color: #1e1e1e;
}
.page-heading h3 {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}
.header-text {
    text-align: center;
}